.goodinfo{
    margin: 20px auto 40px;
    width: 1280px;
    height: 580px;
    border-radius: 8px;
    background-color: rgba(242,247,255,0.7);
    box-shadow:
            0 2px 2.2px rgba(0, 0, 0, 0.017),
            0 4.8px 5.3px rgba(0, 0, 0, 0.024),
            0 9px 10px rgba(0, 0, 0, 0.03),
            0 16.1px 17.9px rgba(0, 0, 0, 0.036),
            0 30.1px 33.4px rgba(0, 0, 0, 0.043),
            0 72px 80px rgba(0, 0, 0, 0.06)
;
}
.preview{
    background-color: white;
    border-radius: 8px;
    height: 460px;
    margin-left: 40px;
    margin-top: 40px;
    margin-right:30px ;
    float: left;
    padding:20px 30px;
    display: flex;
    align-items:center;
    justify-content:center;
}
.preview img{
    width: 350px;
}
.preview p{
    text-align: right;
    width: 350px;
    color: #919191;
    font-size: 13px;
}
.preview p:hover{
    color: red;
    cursor: pointer;
}
.gooditeminfo{
    position: relative;
    background-color: white;
    margin-top: 40px;
    padding: 20px 60px;
    float: left;
    width: 640px;
    height: 460px;
    border-radius: 8px;
    text-align: left;
}
.gooditeminfo .goodtitle{
    font:700 18px Arial,"microsoft yahei";
    color: #666;
    text-align: left;
}
.gooditeminfo .senderinfo{
    margin-top: 15px;
    height: 60px;
    border-radius: 5px;
    background-color: rgb(250, 250, 250);
}
.gooditeminfo .senderinfo .rate{
    width: 240px;
    height: 24px;
    float: right;
    margin-top: 18px;
}
.gooditeminfo .senderinfo .rate i{
    font-size: 24px;
}
.gooditeminfo .senderinfo .Show_circleImg{
    float: right;
    border-radius: 25px;
    width:50px;
    height:50px;
    margin-top: 5px;
}
.gooditeminfo .senderinfo  .circleImg,.sendername:hover{
    cursor: pointer;
}
.gooditeminfo .senderinfo .price{
    float: left;
    line-height: 60px;
    margin-left: 16px;
    font-size: 32px;
    font-weight: 700;
    color: red;
}
.gooditeminfo .senderinfo .sendername{
    float: right;
    line-height: 60px;
    font-size: 16px;
    font-weight: 600;
    padding-left: 16px;
    margin-right: 16px;
    color: #ffd647;
}
.gooditeminfo .el-divider{
    margin-top: 10px;
    margin-bottom: 10px;
}
.gooditeminfo .description{
    height: 165px;
    padding: 14px;
    border-radius: 5px;
    font-size: 15px;
    border: 2px dashed #cdcdcd;

}
.horizontalOverlay {
    overflow: hidden;
    padding: 12px 30px;
    border-radius: 5px;
    background-color: rgba(255,0,0,0.7);
    color: white;
    font-size: 20px;
    font-weight: 700;
    position: relative;
    display: inline-block;
}
.horizontalOverlay :hover{
    cursor: pointer;
}
.goodinfo .horizontalOverlay::before {
    content: '发出意向';
    padding: 12px 30px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: red;
    transform: scaleX(0);
    transform-origin: 100% 100%;
    transition: transform 0.3s cubic-bezier(0.53, 0.21, 0, 1);
    will-change: transform;
}

.horizontalOverlay:hover::before  {
    transform-origin: 0 0;
    transform: scaleX(1);
    cursor: pointer;
}
/*这里暂时有个bug*/
.createIntentionInput{
	position: absolute;
	top:150px;
	left:80px;
	width: 592px;
	height: 305px;
    z-index: 1;
    border-radius: 8px;
    background-color:#f2f7ff;
    box-shadow:
            0 7.6px 4.6px rgba(0, 0, 0, 0.04),
            0 15.8px 11.7px rgba(0, 0, 0, 0.058),
            0 26.4px 23.9px rgba(0, 0, 0, 0.072),
            0 44.6px 49.3px rgba(0, 0, 0, 0.09),
            0 100px 135px rgba(0, 0, 0, 0.13)
;

}
.createIntentionInput h1{
    font-family: "微软雅黑 Light";
    margin-top: 20px;
    margin-left: 250px;
}
.createIntentionInput p{
    margin-left: 2em;
}
.createIntentionInput .input{
    color: coral;
    font-weight: bold;
    margin: 30px 150px 0px;
}
.createIntentionInput>button{

}

.horizontalOverlay2 {
    margin-left: 20px;
    overflow: hidden;
    padding: 12px 30px;
    border-radius: 6px;
    background-color:rgba(255,214,37,0.7);
    color: white;
    font-size: 20px;
    font-weight: 700;
    position: relative;
    display: inline-block;
}
.horizontalOverlay2 :hover{
    cursor: pointer;
}
.horizontalOverlay2::before {
    content: '联系卖家';
    padding: 12px 30px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:#ffe909;
    transform: scaleX(0);
    transform-origin: 100% 100%;
    transition: transform 0.3s cubic-bezier(0.53, 0.21, 0, 1);
    will-change: transform;
}

.horizontalOverlay2:hover::before  {
    transform-origin: 0 0;
    transform: scaleX(1);
    cursor: pointer;
}

.comment{
    position: relative;
    width: 1280px;
    margin: 0 auto 50px;
}
.comment .el-tabs__item{
    font-size: 16px;
}
.infinite-list::-webkit-scrollbar {
    /*隐藏滚轮*/
}
.ShowPage .pressDownButton {
    margin-top:10px;
    float: right;
    width: 80px;
    background-color: hsl(222, 100%, 95%);
    padding: 12px 24px;
    color: hsl(243, 80%, 62%);
    border-radius: 6px;
    border-bottom: 4px solid hsl(221, 89%, 85%);
    border-top: 0px solid rgba(249, 250, 251,1);
    transition: all 0.1s ease-in-out;
}

.ShowPage .pressDownButton:hover {
    border-bottom-width: 0;
    border-top-width: 4px;
    cursor: pointer;
}

.ShowPage .goodinfo .pressDownButton{
    border-top: 0px solid #f2f7ff;
    margin-top: 30px;
    margin-left: 24px;
    margin-right: 100px;
}
.ShowPage .goodinfo .pressDownButton:hover {
    border-bottom-width: 0;
    border-top-width: 4px;
    cursor: pointer;
}
.ShowPage .goodinfo .greybutton{
    background-color: #e1e1e1;
    color: #4c4c4c;
    border-bottom: 4px solid #a4a4a4;
    border-top: 0px solid #f2f7ff;
}
.ShowPage .greybutton:hover {
    border-bottom-width: 0;
    border-top-width: 4px;
    cursor: pointer;
}

.bouncingLoader > div, .bouncingLoader:before, .bouncingLoader:after {
    display: inline-block;
    width: 13px;
    height: 13px;
    background: #409EFF;
    margin-bottom: -5px;
    border-radius: 50%;
    animation: bouncing-loader 0.4s infinite alternate;
}

.bouncingLoader > div, .bouncingLoader:before, .bouncingLoader:after {
    content: "";
}

.bouncingLoader > div {
    margin: 0 5px;
}

.bouncingLoader > div {
    animation-delay: 0.2s;
}

.bouncingLoader:after {
    animation-delay: 0.4s;
}

@keyframes bouncing-loader {
    to {
        opacity: 0.1;
        transform: translate3d(0, -16px, 0);
    }
}
.arrowBounce {
    margin-top: 20px;
    position: relative;
    animation: bounce 2s infinite;
}

.arrowBounce svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: #409EFF;
    cursor: pointer;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}
