.flex{
    display: inline-block;
}
.header{
    cursor: pointer;
    width: 100%;
    height: 100%;
    line-height: 70px;
    text-align: center;
    font-size: 17px;
}
.borderLeftRight {
    display: inline-block;
    position: relative;
    color: hsl(222, 25%, 14%);
}

.borderLeftRight::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom:18px;
    left: 0;
    background-color: hsl(243, 80%, 62%);
    transform-origin: bottom right;
    transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
}

.borderLeftRight:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
.circleImg{
    margin-top: 5px;
    border-radius: 25px;
    width:50px;
    height:50px;
}
.circleImg:hover{
    cursor: pointer;
}
li {
    /* 清除li元素前面的项目符号 */
    list-style: none;
}
a {
    /* 清除a元素的下划线 */
    text-decoration: none;
    color: #000;
}
.navbar {
    width: 100%;
    height: 70px;
    position: relative;
    background-color: rgba(	248,248,255,0.9);
    /* 盒子阴影 */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.search{
    line-height: 70px;
    width: 25%;
    float: right;
    position: absolute;
    left: 37.5%;
}
.searchbutton{
    line-height: 70px;
    position: absolute;
    float: right;
    left:63%
}
.messagebutton{
	line-height: 70px;
	position: absolute;
	float: right;
	left:85%;
}
.navbar .nav {
    width: 600px;
    height: 100%;
    /* 让元素自动水平居中 */
    position: absolute;
    left:5%;
}
.navbar .nav ul {
    /* 相对定位 */
    position: relative;
    /* 弹性布局 */
    display: flex;
    /* 让子元素平均分配宽度 */
    justify-content: space-around;
    width: 100%;
    height: 100%;
}
.navbar .nav ul > li {
    width: 100%;
    height: 100%;
}
.navbar .nav ul > li > a {
    /* 因为a元素是行内元素 必须将其转为行内块或者块级才能设置宽度和高度 */
    display: block;
    width: 100%;
    height: 100%;
    line-height: 70px;
    text-align: center;
}
.navbar .nav ul > li ol {
    width: 100%;
    background-color: #fff;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    /* 让盒子先沿着y轴缩放到0 也就是隐藏了 */
    transform: scaleY(0);
    /* 我们需要将盒子从上面滑动下来 设置一下缩放的中心点即可 设置到最上面的中间位置 */
    transform-origin: 50% 0;
    /* 设置过渡 */
    transition: all 0.6s;
}
.navbar .nav ul > li ol li {
    height: 70px;
    border-bottom: 1px solid rgb(245, 245, 245);
}
.navbar .nav ul > li ol li a {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 70px;
    text-align: center;
}
.navbar .nav ul > li ol li:hover {
    background-color: rgba(0, 0, 0, 0.03);
}
.navbar .nav ul > li:hover ol {
    transform: scaleY(1);
}
/* 现在可以设置线条了 */
.navbar .nav ul .underline {
    /* 绝对定位 */
    position: absolute;
    bottom: 0;
    left: 0;
    width: 120px;
    height: 6px;
    /* 设置一下盒子的左上角和右上角的圆角 */
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background-color: hsl(243, 80%, 62%);
    /* 加过渡 */
    transition: all 0.5s;
    /* 现在有个小问题 我们一起看看 ne
    /* 就是这个问题 这个线条有点影响鼠标移入li这个效果 */
    /* 这个属性就可以解决这个问题 就貌似这个元素你能看见 但是鼠标是点击不到了 现在鼠标放到线条也没事了 */
    pointer-events: none;
}
.navbar .nav ul .underline::before {
    content: "";
    /* 利用::before伪元素设置三角 */
    position: absolute;
    top: -10px;
    /* calc方法自动计算数值 让盒子居中 */
    left: calc(50% - 9px);
    width: 18px;
    height: 10px;
    /* inherit可以继承父元素的属性值 */
    background-color: inherit;
    /* 各位小伙伴可能对着属性比较陌生 我简单说一下这句话如何生成了三角形 这个属性可以绘制图案 polygon这个属性只需要提供最少三个点 就可以将三个点连接到一起 然后绘制一个图案  两个点的坐标位置(x,y) 0 100% 这个点就是说在x轴上为0px 在y轴是100% 就是盒子的高度 x轴的方向是向右 y轴的方向是向下 那么我们设置了三个点 然后将三个点连起来刚好绘制出一个三角形 不明白的小伙伴可以在纸上画一下 画出来就理解了 */
    clip-path: polygon(0 100%, 50% 0, 100% 100%);
}
.navbar .nav ul > li:nth-child(1):hover ~ .underline {
    left: -10px;
    background-color: hsl(243, 80%, 62%);
}
.navbar .nav ul > li:nth-child(2):hover ~ .underline {
    left: 90px;
    background-color: hsl(243, 80%, 62%);
}
/* 重复以上操作 */
.navbar .nav ul > li:nth-child(3):hover ~ .underline {
    left: 190px;
    background-color: hsl(243, 80%, 62%);
}
.navbar .nav ul > li:nth-child(4):hover ~ .underline {
    left: 290px;
    background-color: hsl(243, 80%, 62%);
}
/*.navbar .nav ul > li:nth-child(5):hover ~ .underline {
    left: 1280px;
    background-color: hsl(243, 80%, 62%);
}*/
.navbar .nav ul > li:nth-child(5) {
		position: relative;
		left: 800px;
}
.unreadNum{
	position: relative;
	top: -60px;
	left: 20px;
	color: white;
	text-align: center;
	font-size: 10px;
	line-height: 15px;
	height: 15px;
	width: 15px;
	border-radius: 7.5px;
	background-color: red;
}