.goodinfo{
    margin: 50px auto;
    width: 1280px;
    height: 480px;
}
.preview{
    float: left;
    padding:0 50px;
}
.preview img{
    width: 350px;
}
.previewbottom p{
    float: right;
    width: 30px;
    color: #919191;
    font-size: 13px;
}
.preview p:hover{
    color: red;
    cursor: pointer;
}
.iteminfo{
    float: left;
    width: 590px;
    border-radius: 5px;
    text-align: left;
}
.iteminfo .goodtitle{
    font:700 16px Arial,"microsoft yahei";
    color: #666;
    text-align: left;
}
.iteminfo .senderinfo{
    margin-top: 15px;
    height: 60px;
    border-radius: 5px;
    background-color: rgb(250, 250, 250);
}

.iteminfo .senderinfo .circleImg{
    float: right;
    border-radius: 25px;
    width:50px;
    height:50px;
}
.iteminfo .senderinfo  .circleImg,.sendername:hover{
    cursor: pointer;
}
.iteminfo .senderinfo .price{
    float: left;
    line-height: 60px;
    margin-left: 16px;
    font-size: 32px;
    font-weight: 700;
    color: red;
}
.iteminfo .senderinfo .sendername{
    float: right;
    line-height: 60px;
    font-size: 16px;
    font-weight: 600;
    padding-left: 16px;
    margin-right: 16px;
    color: #ffd647;
}
.iteminfo .el-divider{
    margin-top: 10px;
    margin-bottom: 10px;
}
.iteminfo .description{
    height: 165px;
    padding: 14px;
    border-radius: 5px;
    font-size: 14px;
    border: 2px dashed #cdcdcd;

}
.horizontalOverlay {
    overflow: hidden;
    padding: 12px 30px;
    border-radius: 5px;
    background-color: rgba(255,0,0,0.7);
    color: white;
    font-size: 20px;
    font-weight: 700;
    position: relative;
    display: inline-block;
}
.horizontalOverlay :hover{
    cursor: pointer;
}
.horizontalOverlay::before {
    content: '创建订单';
    padding: 12px 30px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: red;
    transform: scaleX(0);
    transform-origin: 100% 100%;
    transition: transform 0.3s cubic-bezier(0.53, 0.21, 0, 1);
    will-change: transform;
}

.horizontalOverlay:hover::before  {
    transform-origin: 0 0;
    transform: scaleX(1);
    cursor: pointer;
}

.createIntentionInput{
	position: absolute;
	top: 67%;
	left: 32.9%;
	width: 15%;
	height: 4%;
}
.createIntentionInput>input{
	width: 60%;
	border: 1px solid cadetblue;
	outline: none;
}
.createIntentionInput>button{
	position: relative;
	top: 1px;
	left: 1px;
	width: calc(40% - 2px);
	font-size: 15px;
	background-color: #5F9EA0;
}

.horizontalOverlay2 {
    margin-left: 20px;
    overflow: hidden;
    padding: 12px 30px;
    border-radius: 6px;
    background-color:rgba(255,214,37,0.7);
    color: white;
    font-size: 20px;
    font-weight: 700;
    position: relative;
    display: inline-block;
}
.horizontalOverlay2 :hover{
    cursor: pointer;
}
.horizontalOverlay2::before {
    content: '联系卖家';
    padding: 12px 30px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:#ffe909;
    transform: scaleX(0);
    transform-origin: 100% 100%;
    transition: transform 0.3s cubic-bezier(0.53, 0.21, 0, 1);
    will-change: transform;
}

.horizontalOverlay2:hover::before  {
    transform-origin: 0 0;
    transform: scaleX(1);
    cursor: pointer;
}

.comment{
    position: relative;
    width: 1280px;
    margin: 0 auto 50px;
}
.comment .el-tabs__item{
    font-size: 16px;
}
.infinite-list::-webkit-scrollbar {
    /*隐藏滚轮*/
    display: none;
}
.comment .pressDownButton {
    margin-top:10px;
    float: right;
    width: 80px;
    background-color: hsl(222, 100%, 95%);
    padding: 12px 24px;
    color: hsl(243, 80%, 62%);
    border-radius: 6px;
    border-bottom: 4px solid hsl(221, 89%, 85%);
    border-top: 0px solid rgba(249, 250, 251,1);
    transition: all 0.1s ease-in-out;
}

.comment .pressDownButton:hover {
    border-bottom-width: 0;
    border-top-width: 4px;
    cursor: pointer;
}
.pulseAnim {
    display: block;
    padding: 12px 15px;
    border-radius: 50%;
    background:#409EFF ;
    cursor: pointer;
    box-shadow: 0 0 0 rgba(64, 158, 255, 0.5);
    animation: pulseAnim 2s infinite;
}
.pulseAnim .el-icon-top{
    font-weight: 700;
    font-size: 20px;
    color: white;
}
@keyframes pulseAnim {
    0% {
        box-shadow: 0 0 0 0 rgba(64, 158, 255, 0.5);
    }
    70% {
        box-shadow: 0 0 0 10px rgba(64, 158, 255, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(64, 158, 255, 0);
    }
}

.bouncingLoader > div, .bouncingLoader:before, .bouncingLoader:after {
    display: inline-block;
    width: 13px;
    height: 13px;
    background: #409EFF;
    margin-bottom: -5px;
    border-radius: 50%;
    animation: bouncing-loader 0.4s infinite alternate;
}

.bouncingLoader > div, .bouncingLoader:before, .bouncingLoader:after {
    content: "";
}

.bouncingLoader > div {
    margin: 0 5px;
}

.bouncingLoader > div {
    animation-delay: 0.2s;
}

.bouncingLoader:after {
    animation-delay: 0.4s;
}

@keyframes bouncing-loader {
    to {
        opacity: 0.1;
        transform: translate3d(0, -16px, 0);
    }
}
.arrowBounce {
    margin-top: 20px;
    position: relative;
    animation: bounce 2s infinite;
}

.arrowBounce svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: #409EFF;
    cursor: pointer;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}
